	
[submodule "personal-blog"]
	path = personal-blog
	url = git@gitlab.com:RPGReki/personal-blog.git

[submodule "theme"]
	path = theme
	url = git@gitlab.com:RPGReki/crystaldown-theme.git
	branch = main

[submodule "amauga"]
	path = amauga
	url = git@gitlab.com:RPGReki-WN/amauga.git
	branch = main
	
[submodule "crystaldown"]
	path = crystaldown
	url = git@gitlab.com:RPGReki-WN/crystaldown.git
	branch = main

[submodule "crystaldown-reboot"]
	path = crystaldown-reboot
	url = git@gitlab.com:RPGReki-WN/crystaldown-reboot.git
	branch = main

[submodule "scions"]
	path = scions
	url = git@gitlab.com:RPGReki-WN/scions.git
	branch = main

