### Vim ###
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
.netrwhist
*~
[._]*.un~


## aspell
**.pws

## Git
.git-metadata

## local Environment
/.env
/.PID
/.netlify
/.vscode
/docs/
/.cloudcannon/routing.json
/site/_drafts
/site/_posts/
/site/_data/comments.json
/site/_data/comments
/site/_data/polls/
/site/_data/amauga/
/site/_data/cd/
/site/plugins/
/site/proxy/
/site/tags/
.make-state-env-*
.sass-cache
.jekyll-cache
.jekyll-metadata
node_modules
