	
[submodule "personal-blog"]
	path = personal-blog
	url = git@gitlab.com:0xReki/personal-blog.git

[submodule "theme"]
	path = theme
	url = git@gitlab.com:0xReki/crystaldown-theme.git
	branch = main

[submodule "amauga"]
	path = amauga
	url = git@gitlab.com:0xReki.WN/amauga.git
	branch = main
	
[submodule "crystaldown"]
	path = crystaldown
	url = git@gitlab.com:0xReki.WN/crystaldown.git
	branch = main

[submodule "scions"]
	path = scions
	url = git@gitlab.com:0xReki.WN/scions.git
	branch = main

[submodule "my-life-as-a-cat"]
	path = my-life-as-a-cat
	url = git@gitlab.com:0xReki.WN/my-life-as-a-cat.git
	branch = main
