---
layout: compress
---
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Riichi Mahjong: A Brief Introduction</title>

		<link rel="stylesheet" href="../common/css/reveal.css">
		<link rel="stylesheet" href="../common/css/theme/solarized.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '../common/css/print/pdf.css' : '../common/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
        <style>
        * {
            font: "Source Sans 3", "Source Sans Pro", sans-serif;
        }
        </style>
	</head>
	<body>
		<div class="reveal">
			<section class="slides" lang="en">
				<section>
					<h1>Riichi Mahjong</h1>
                    <h2>A Brief Introduction</h2>
				</section>

                <section>
                    <h3>About Us</h3>
                    <img src="./img/rishan-kaihou.avif" height="650px">
                    <aside class="notes">
                        <ul>
                            <li>Rinshan Kaihou Cologne</li>
                            <li>Manuel: 1st in Prague Riichi Ryuu Iisou 2019</li>
                            <li>Thai: 1st in Aachen (Sou no Tori 2019)</li>
                            <li>Tian: 7th in Edewecht (German Mahjong League Anniversary Tournament)</li>
                        </ul>
                    </aside>
                </section>    

                <section>
                    <h3>Mahjong 麻雀</h3>
                    <section>
                        
                        <aside class="notes">
                            <ul>
                                <li></li>
                            </ul>
                        </aside>
                    </section>
                    <section>
                        <ul>
                            <li>How many players?</li>
                        </ul>
                        <aside class="notes">
                            <ul>
                                <li></li>
                            </ul>
                        </aside>
                    </section>
                    <section>
                        <p></p>
                        <img src="./img/solitaire.avif" height="500">

                        <aside class="notes">
                            <ul>
                                <li></li>
                            </ul>
                        </aside>
                    </section>

                    <section>
                        <img src="./img/romme.jpg">

                        <aside class="notes">
                            <ul>
                                <li>German Rummy or Rommé</li>
                            </ul>
                        </aside>
                    </section>


                    <section>
                        <img src="./img/chinese-mahjong.jpg">

                        <aside class="notes">
                            <ul>
                                <li>19th century</li>
                                <li></li>
                            </ul>
                        </aside>
                    </section>

                    <section>
                        <p></p>
                        <img src="./img/rummikub.jpg" height="500">

                        <aside class="notes">
                            <ul>
                                <li>1940s by Ephraim Hertzano (Romanian)</li>
                            </ul>
                        </aside>
                    </section>

                    <section>
                        <p></p>
                        <img src="./img/american-mahjong.jpeg" height="500">

                        <aside class="notes">
                            <ul>
                                <li>1935 by Joseph Park Babcock</li>
                                <li>In the demonstration of NMJL, the two groups of flowers are "Spring (春), Summer (夏), Autumn (秋), Winter (冬)" and "Fortunate (福), Luxurious (祿), Longevity (壽), Noble (貴)".</li>
                            </ul>
                        </aside>
                    </section>

                    <section>
                        <p></p>
                        <img src="./img/riichi.jpeg" height="500">

                        <aside class="notes">
                            <ul>
                                <li>Imported from China in 1928 (Chinese Classical), rules evolved since then. Making it unique.</li>
                            </ul>
                        </aside>
                    </section>
                </section>
                
                <section>
                    <h3>Basics: Suits and Shapes</h3>
                    <p>&nbsp;</p>
                    
                    <section>
                        <p class="fragment fade-up">{% for i in (1..9) %}<img src="./img/tiles/pin{{i}}.png" width="70px"> {% endfor %}</p>
                        <p class="fragment fade-up">{% for i in (1..9) %}<img src="./img/tiles/sou{{i}}.png" width="70px"> {% endfor %}</p>
                        <p class="fragment fade-up">{% for i in (1..9) %}<img src="./img/tiles/man{{i}}.png" width="70px"> {% endfor %}</p>
                        <aside class="notes">
                            <h3>Interpretation 1 (Manuel)</h3>
                            <ul>
                                <li>Pinzu, American: Dots, Coins / </li>
                                <li>Souzu, American: Bams, Strings of 100 Coins / </li>
                                <li>Manzu, American: Cracks, Bills of 10.000 Coins / </li>
                            </ul>

                            <h3>Interpretation 2 (Tian)</h3>

                            <p>pin comes from the circular shape of barn (place to store rice or other food).
                            It means people have plenty of food to eat and do not suffer from hunger. 
                            <p>1sou shapes like bird and it is sparrow, who eats the food in barn. 
                                Sou is counting how many sparrow caught by people. 
                                People use a bamboo made, rectangular shape counter to count
                            <p>man is a counting unit which equals ten thousand. 
                                People could exchange one sparrow for 1 man money at the government. 
                        </aside>
                    </section>
                    <section>
                        <img src="./img/barn.jpeg" height="500">
                    </section>
                    <section>
                        <img src="./img/1sou.jpeg" height="500">
                        <img src="./img/sparrow.jpeg" height="500">
                    </section>

                    <section>
                        <p>{% for i in (1..9) %}<img src="./img/tiles/pin{{i}}.png" width="70px"> {% endfor %}</p>
                        <p>{% for i in (1..9) %}<img src="./img/tiles/sou{{i}}.png" width="70px"> {% endfor %}</p>
                        <p>{% for i in (1..9) %}<img src="./img/tiles/man{{i}}.png" width="70px"> {% endfor %}</p>
                        <p class="fragment fade-up">
                            <img src="./img/tiles/ton.png" width="70px">
                            <img src="./img/tiles/nan.png" width="70px">
                            <img src="./img/tiles/shaa.png" width="70px">
                            <img src="./img/tiles/pei.png" width="70px">
                            <img src="./img/tiles/hatsu.png" width="70px">
                            <img src="./img/tiles/chun.png" width="70px">
                            <img src="./img/tiles/haku.png" width="70px">
                        </p>
                        <aside class="notes">
                            <h3>Interpretation 1 (Manuel)</h3>
                                <ul>
                                    <li>Haku: Bow String</li>
                                    <li>Hatsu: Shooting</li>
                                    <li>Chun: Hitting in the Center</li>
                                </ul>
    
                            <h3>Interpretation 2 (Tian)</h3>
                            <p>hatsu “發” means earning a great fortune with business or getting straight promotion in government place
                            <p>chun “中” means hitting the target in an important exam (E.g. gets a good grade in College Entrance Examination and enters the dream school)
                            <p>haku “白” is a tool of high official used in ancient China 

                        </aside>
                    </section>
                    <section>
                        <img src="./img/haku.jpeg">
                    </section>
                    <section>
                        <p class="fragment fade-up">
                            <img src="./img/tiles/ton.png" width="70px">
                            <img src="./img/tiles/ton.png" width="70px">
                            <img src="./img/tiles/ton.png" width="70px">
                        </p>
                        <p class="fragment fade-up">
                            {% for i in (2..4) %}<img src="./img/tiles/pin{{i}}.png" width="70px"> {% endfor %}
                        </p>
                        <aside class="notes">
                            2 types of mentsu, groups:
                            <ul>
                                <li>koutsu, triplet</li>
                                <li>shuntsu, sequence</li>
                            </ul>
                        </aside>
                    </section>
                </section>
                <section>
                    <h3>Goal</h3>

                    <style>
                        .mentsu::before {
                            content: "";
                            position: fixed;
                            width: 252px;
                            top: 12ex;
                            height: 0.5em;
                            border-bottom: 1px solid #aaa;
                            border-left: 1px solid #aaa;
                            border-right: 1px solid #aaa;
                            border-bottom-left-radius: 20px;
                            border-bottom-right-radius: 20px;
                            z-index: 10;
                        }
                        .jantou::before {
                            content: "";
                            position: fixed;
                            width: 164px;
                            top: 12ex;
                            height: 0.5em;
                            border-bottom: 1px solid #aaa;
                            border-left: 1px solid #aaa;
                            border-right: 1px solid #aaa;
                            border-bottom-left-radius: 20px;
                            border-bottom-right-radius: 20px;
                            z-index: 10;
                        }

                    </style>
                <p>
                    <span class="fragment fade-up mentsu">
                        <img src="./img/tiles/ton.png" width="70px">
                        <img src="./img/tiles/ton.png" width="70px">
                        <img src="./img/tiles/ton.png" width="70px">
                    </span>
                    <span class="fragment fade-up mentsu">
                        {% for i in (2..4) %}<img src="./img/tiles/pin{{i}}.png" width="70px"> {% endfor %}
                    </span>
                    <span class="fragment fade-up mentsu">
                        {% for i in (3..5) %}<img src="./img/tiles/sou{{i}}.png" width="70px"> {% endfor %}
                    </span>
                    <span class="fragment fade-up mentsu">
                        {% for i in (4..6) %}<img src="./img/tiles/man{{i}}.png" width="70px"> {% endfor %}
                    </span>
                    <span class="fragment fade-up jantou">
                        <img src="./img/tiles/hatsu.png" width="70px"> 
                        <img src="./img/tiles/hatsu.png" width="70px"> 
                    </span>
                </p>
                <p>
                    <span style="width: 252px; display: inline-block">mentsu</span>
                    <span style="width: 252px; display: inline-block">mentsu</span>
                    <span style="width: 252px; display: inline-block">mentsu</span>
                    <span style="width: 252px; display: inline-block">mentsu</span>
                    <span style="width: 164px; display: inline-block">jantou</span>
                </p>

                <p class="fragment fade-up">
                    <span style="width: 252px; display: inline-block">koutsu</span>
                    <span style="width: 252px; display: inline-block">shuntsu</span>
                    <span style="width: 252px; display: inline-block">shuntsu</span>
                    <span style="width: 252px; display: inline-block">shuntsu</span>
                    <span style="width: 164px; display: inline-block">toitsu</span>
                </p>
                <p class="fragment fade-up">
                    <span>
                        <img src="./img/tiles/ton.png" width="70px">
                        <img src="./img/tiles/ton.png" width="70px">
                        <img src="./img/tiles/ton.png" width="70px">
                    </span><span>
                        <img src="./img/tiles/nan.png" width="70px">
                        <img src="./img/tiles/nan.png" width="70px">
                        <img src="./img/tiles/nan.png" width="70px">
                    </span><span>
                        <img src="./img/tiles/shaa.png" width="70px">
                        <img src="./img/tiles/shaa.png" width="70px">
                        <img src="./img/tiles/shaa.png" width="70px">
                    </span><span>
                        <img src="./img/tiles/pei.png" width="70px">
                        <img src="./img/tiles/pei.png" width="70px">
                        <img src="./img/tiles/pei.png" width="70px">
                    </span><span>
                        <img src="./img/tiles/chun.png" width="70px">
                        <img src="./img/tiles/chun.png" width="70px">
                    </span>
                </p>
                <p class="fragment fade-up"> 
                <span>
                    {% for i in (2..4) %}<img src="./img/tiles/pin{{i}}.png" width="70px"> {% endfor %}
                </span>
                <span>
                    {% for i in (3..5) %}<img src="./img/tiles/sou{{i}}.png" width="70px"> {% endfor %}
                </span>
                <span>
                    {% for i in (4..6) %}<img src="./img/tiles/man{{i}}.png" width="70px"> {% endfor %}
                </span>
                <span>
                    {% for i in (5..7) %}<img src="./img/tiles/pin{{i}}.png" width="70px"> {% endfor %}
                </span>
                <span>
                    <img src="./img/tiles/sou8.png" width="70px"> 
                    <img src="./img/tiles/sou8.png" width="70px"> 
                </span>
                </p>

                    <aside class="notes">
                        <ul>
                            <li>4 mentsu, pair</li>
                            <li>shuntsu, sequence</li>
                        </ul>
                    </aside>
                </section>

                <section>
                    <h3>Starting the Game</h3>
                    <section>

                    </section>
                    <section>
                        <img src="./img/drawing-tiles-12.jpg">

                        <aside class="notes">
                            <ul>
                                <li>Ignore the wall length, this image is from a singapore mahjong tutorial. Illustrates the process.</li>
                            </ul>
                        </aside>
                    </section>
                    <section>
                        <img src="./img/drawing-tiles-13.jpg">

                        <aside class="notes">
                            <ul>
                                <li>Ignore the wall length, this image is from a singapore mahjong tutorial. Illustrates the process.</li>
                            </ul>
                        </aside>
                    </section>
                    <section>
                        <img src="./img/wanpai.jpg">
                    </section>
                </section>

                <section>
                    <h3>Riichi Mahjong</h3>
                
                    <section>
                        Furiten
                    </section>

                    <section>
                        <img src="./img/furiten-1.jpeg">
                    </section>

                    <section>
                        <img src="./img/furiten-2.jpeg">
                    </section>

                    <section>
                        <img src="./img/furiten.webp">
                    </section>

                    <section>
                        Yaku
                    </section>
                    
                    <aside class="notes">
                        <ul>
                        </ul>
                    </aside>
                </section>
                <section>
                    <h3>Yaku</h3>
                    <p class="fragment fade-up">
                        Riichi
                    </p>
                    <p class="fragment fade-up">
                        Menzen Tsumo
                    </p>
                    <p class="fragment fade-up">
                        Tanyao
                    </p>
                    <p class="fragment fade-up">
                        Pinfu
                    </p>
                    <p class="fragment fade-up">
                        Iipeikou
                    </p>

                    <p class="fragment fade-up">
                        Sanshoku Doujun
                    </p>
                    <p class="fragment fade-up">
                        Sanshoku Doukou
                    </p>
                    <p class="fragment fade-up">
                        Toitoi
                    </p>
                    <p class="fragment fade-up">
                        <a href="./cheat-sheet.pdf">Cheat Sheet</a>
                    </p>
                    <aside class="notes">
                    </aside>
                </section>
            </section>
            <section>
                <h3>Online Platforms</h3>
                <section>
                    <p class="">
                        Tenhou: https://tenhou.net , Translation Browser Extension: https://mahjong.ie/tenhou/ 
                    </p>
                    <img src="./img/tenhou.png" height="500">
                </section>
                
                <section>
                    <p class="fragment fade-up">
                        Ron Ron: https://ron2.jp , Translation Browser Extension: https://mahjong.ie/tenhou/
                    </p>
                    <img src="./img/riichi.jpeg" height="500">
                </section>
                
                <section>
                    <p class="fragment fade-up">
                        MahjongSoul: https://mahjongsoul.yo-star.com
                    </p>
                    <img src="./img/mahjongsoul.png" height="500">
                </section>

                <section>
                    <p class="fragment fade-up">
                        Riichi City: https://www.mahjong-jp.com
                    </p>
                    <img src="./img/riichi-city.jpg" height="500">
                </section>
                
                <section>
                    <p class="fragment fade-up">
                        Mahjong Time: https://www.mahjongtime.com
                    </p>
                    <img src="./img/mahjong-time.jpg" height="500">
                </section>
                
                <section>
                    <p class="fragment fade-up">
                        SEGA NET MJ: http://sega-mj.com
                    </p>
                    <img src="./img/sega.webp" height="500">
                </section>
                
                <aside class="notes">
                </aside>
            </section>
        </section>
            </div>
		</div>

		<script src="../common/lib/js/head.min.js"></script>
		<script src="../common/js/reveal.js"></script>

		<script>
			Reveal.initialize({
				width: 1280,
                height: 720,
                history: true,
				dependencies: [
					{ src: '../common/plugin/notes/notes.js', async: true }
				],
				transition: 'zoom'
			});
		</script>
	</body>
</html>
