---
title: "All Posts Tagged with WTF"
layout: 2020/base
robots: noindex, follow
---
<h1>{{ page.title }}</h1>
{% 
assign posts = site.tags["WTF"] | sort: 'date' | reverse %}{%
for post in posts %}
  <article itemscope itemtype="https://schema.org/BlogPosting" class="interface top-toggle hentry">
    <h2 itemprop="name" id="{{ post.title | slugify }}" class="active entry-title" onclick="toggleAccordion(this)">
        {{ post.title }}
    </h2>
    <meta itemprop="headline" content="{{ post.title }}">
    {% assign author = site.data.staff | where: "id", page.author | last %}
    <div itemprop="author" class="my-0" itemscope itemtype="https://schema.org/Person">
      <meta itemprop="name" content="{{ author.name }}">
      <meta itemprop="url" content="{{ author.url }}">
    </div>
    {% assign publisher = site.data.staff | where: "id", page.publisher | last %}
    <div itemprop="publisher" class="my-0" itemscope itemtype="https://schema.org/Person">
      <meta itemprop="name" content="{{ publisher.name }}">
      <meta itemprop="url" content="{{ publisher.url }}">
    </div>
    {% if post.long %}
      <meta itemprop="url" content="{{ post.url | absolute_url }}">
    {% else %}
      <meta itemprop="url" content="{{ '/blog/' | absolute_url }}#{{ post.title | slugify }}">
    {% endif %}
    <p class="float-left"><small>
      published on <span itemprop="datePublished" content="{{ post.date | date_to_xmlschema }}" class="published">{{ post.date | date: "%Y-%m-%d" }}</span>
    </small></p>
    <meta itemprop="dateModified" content="{{ post.last_modified_at | date_to_xmlschema }}">
    <div class="clearfix"></div>
    {% if post.image != "/assets/images/site-og.png" %}  
    <div class="post-image" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <a href="{{ post.url | absolute_url }}">
      <img itemprop="url"
        src="{{ post.image | prepend: site.static_url | absolute_url }}" 
        alt="{{ post.title }}">
      </a>
    </div>
    {% else %}
    <div class="my-0" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <meta itemprop="url" content="{{ "/assets/images/site-icon.png" | prepend: site.static_url | absolute_url }}">
    </div>
    {% endif %}
    {% unless post.long %}
    <div class="entry-summary">
      {{ post.content | markdownify }}
    </div>
    {% else %}
    <div class="entry-summary">
      <p data-nosnippet>{{ post.excerpt | quads | markdownify | strip_html | truncatewords: 50, "…" }}</p>
      <p><a href="{{ post.url | absolute_url }}" class="btn btn-block btn-primary btn-lg">{{ post.title }}</a></p>
    </div>
    {% endunless %}
  </article>
{% endfor %}
<p>
  <a
    href="{{ "/tags/" | absolute_url }}"
    class="btn btn-block btn-primary btn-lg">
    To the List of All Tags
  </a>
</p>
<!-- hash: 'sha256-A/6tayyJsMPqwtgAhK04WODhXkp9eACr3P/J3fXItRY=' -->
<script>function openHash(hash){.removeClass('bg-success');hits	command
  59	/bin/cat.addClass('bg-success').parents('.interface').children('.inactive').addClass('active');.scrollTop(hits	command
  59	/bin/cat.offset().top);}if (window.location.hash!=""){document.addEventListener('DOMContentLoaded',function(){openHash(window.location.hash)},false)}</script>

