---
title: quốc Thái “RPGReki” Chung
layout: 2021/base

date: 2016-11-08

extra_meta:
  - property: "og:type"
    content: profile
  - property: profile:first_name
    content: Thai
  - property: profile:last_name
    content: Chung
  - property: profile:username
    content: RPGReki

about:
  type: Person
  links:
    - https://twitter.com/RPGReki
    - https://facebook.com/RPGReki
    - https://www.scribblehub.com/profile/19792/0xreki
    - https://www.deviantart.com/rpgreki
    - https://twitch.tv/RPGReki
    - https://github.com/RPGReki
    - https://gitlab.com/RPGReki
    - https://www.patreon.com/RPGReki
    - https://flattr.com/@RPGReki
    - https://www.linkedin.com/in/q-thai-chung
    - https://www.xing.com/profile/Thai_Chung
    - https://amazon.com/author/0xreki
    - http://mahjong-europe.org/ranking/Players/05100170.html

redirect_from:
  - /wordpress/2015-04-26
  - /wordpress/2015-07-06

excerpt: |
  About me, my universe and everything else: my credentials and hobbies
---

<h1>quốc Thái “RPGReki” Chung</h1>

<p class="print-text-center">
<address class="lr">𝖱𝗈ß<span class="rl">041 .𝗋𝗍𝗌</span>,
<span class="rl">74</span>7<span class="rl">98</span> <span class="rl">dl<span class="lr">fe</span>erK</span>,
Germany  •  ☎ <a href="tel:+491623676245" >+<span class="rl">94</span> <span class="rl">61</span>2/<span class="rl">63</span> 76 245</a>  •  📧 <a href="mailto:%74%68%61%69%2e%63%68%75%6e%67%40%30%78%72%65%6b%69%2e%64%65">thai.chung@reki.<span class="rl">ftw</span></a></address>
</p>

<p class="no-print">
  Hello! I'm quốc Thái “RPGReki” Chung, read: /kʷuə̌kp tʰaǐ rɛ̄kì cʰʊ̄ŋm/, or simply Thái or Reki.
  I'm a Bavarian Swabian of Vietnamese descent, and I currently live near Cologne.
  My focus is in Linux, but that doesn't mean I can't work with other OSes.
  I'm a typical IT guy with interests in creative writing, vintage audio hardware, and Riichi Mahjong.
  I enjoy playing JPRGs, preferably the turn-based variant.
  While I do like platformers and action games, but I kinda suck at those.
</p>

<h2 class="no-print">RPGReki on other Platforms</h2>

<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "{{ page.about.type }}",
    "name": "Thai “RPGReki Chung”",
    "url": "{{ page.url | absolute_url }}"{% if page.about.links %},
    "sameAs": {{ page.about.links | jsonify }}{% endif %},
    "alumniOf": {
      "@id": "#uulm"
    },
    "hasOccupation": [{
      "@id": "#it-nrw"
    },{
      "@id": "#plusserver"
    },{
      "@id": "#clubfamily"
    },{
      "@id": "#schuelernachhilfe1"
    },{
      "@id": "#teaching-assistant"
    },{
      "@id": "#sgi"
    },{
      "@id": "#devradio"
    },{
      "@id": "#sk"
    },{
      "@id": "#fin"
    }],
    "hasCredential": {
      "@id": "#bc"
    }
  }
</script>

{% capture md %}{% include_relative platforms.md %}{% endcapture %}
{{ md | markdownify }}

<h2 class="no-print">Preferred Technologies & Tools</h2>

<p class="no-print">
A selection of technology and tools that I use.
Badges are powered by <a href="https://shields.io" target="_blank" ref="noopener">shields.io</a>.
</p>

{% capture md %}

{:.shields.mb-2.no-print}
![OS: Linux]({{ "/proxy/shields/-Linux/linux/shield.svg" | absolute_url}}){:loading="lazy" width="172" height="56"}
![OS: archlinux]({{'/proxy/shields/-archlinux/archlinux/shield.svg' | absolute_url}}){:loading="lazy" width="244" height="56"}
![OS: RHEL]({{'/proxy/shields/-Red_Hat/redhat/shield.svg' | absolute_url}}){:loading="lazy" width="198" height="56"}

{:.shields.mb-2.no-print}
![Web: HTML5]({{ "/proxy/shields/-HTML5/html5/shield.svg" | absolute_url }}){:loading="lazy" width="176" height="56"}
![Web: CSS3]({{ "/proxy/shields/-CSS3/css3/shield.svg" | absolute_url }}){:loading="lazy" width="154" height="56"}
![Web: JavaScript]({{ "/proxy/shields/-javascript/javascript/shield.svg" | absolute_url }}){:loading="lazy" width="254" height="56"}
![Web: jQuery]({{ "/proxy/shields/-jQuery/jquery/shield.svg" | absolute_url }}){:loading="lazy" width="192" height="56"}
![Web: Jekyll]({{ "/proxy/shields/-Jekyll/jekyll/shield.svg" | absolute_url }}){:loading="lazy" width="184" height="56" class="no-print"}

{:.shields.mb-2.no-print}
![Code: Basic.NET]({{ "/proxy/shields/-Basic_.NET/.net/shield.svg" | absolute_url }}){:loading="lazy" width="242" height="56"}
![Code: Haskell]({{ "/proxy/shields/-Haskell/haskell/shield.svg" | absolute_url }}){:loading="lazy" width="206" height="56"}
![Code: Make]({{ "/proxy/shields/-Make/cmake/shield.svg" | absolute_url }}){:loading="lazy" width="160" height="56"}
![Code: Python]({{ "/proxy/shields/-Python/python/shield.svg" | absolute_url }}){:loading="lazy" width="196" height="56"}
![Code: Ruby]({{ "/proxy/shields/-Ruby/ruby/shield.svg" | absolute_url }}){:loading="lazy" width="158" height="56"}
![Shell: Bash]({{ "/proxy/shields/-Bash/gnu-bash/shield.svg" | absolute_url }}){:loading="lazy" width="158" height="56"}

{:.shields.no-print}
![Text: LaTeX]({{ "/proxy/shields/-LaTeX/latex/shield.svg" | absolute_url }}){:loading="lazy" width="170" height="56"}
![Text: Markdown]({{ "/proxy/shields/-Markdown/markdown/shield.svg" | absolute_url }}){:loading="lazy" width="246" height="56"}

{% endcapture %}
{{ md | markdownify }}

<h2 class="mb-1"> Work Experience</h2>

<div class="row mt-1" vocab="https://schema.org/" typeof="Occupation Role" about="#it-nrw">
<div class="col order-sm-2">
  <h3 class="mx-0" property="name">Network Administrator</h3>
  <a href="https://www.it.nrw">Information und Technik Nordrhein-Westfalen</a>, <span property="occupationLocation" typeof="City"><span property="name">Düsseldorf, Germany</span></span><br>
 since <time property="startDate">2020</time>

  <p>IT.NRW develops and provides IT infrastructure for state administration of North Rhine-Westphalia.</p>
  <p>Tasks at this position include:<p>
  <ul property="reponsibilities">
    <li>Administration of Application Layer Gateways and Proxies</li>
  </ul>
</div>

<div class="col-12 col-sm-auto order-sm-1">
  <img src="{{ '/images/NRW.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="Nordrhein-Westfalen Symbol">
</div>
</div>

<div class="row mt-4" vocab="https://schema.org/" typeof="Occupation Role" about="#plusserver">
<div class="col">
  <h3 class="mx-0" property="name">System Administrator</h3>
  <a href="https://www.plusserver.com">PlusServer GmbH</a>, <span property="occupationLocation" typeof="City"><span property="name">Cologne, Germany</span></span><br>
  from <time property="startDate">2018</time> until <time property="endDate">2019</time>
  
  <p>PlusServer helps organizations realize the full potential of their cloud strategy.</p>
  <p>Tasks at this position included:<p>
  <ul property="responsibilities">
   <li>Administration of Linux and Windows Servers, physical and virtualized (VMWare), for Internal IT</li>
  </ul>
</div>
<div class="col-12 col-sm-auto">
  <img src="{{ '/images/PlusServer.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="PlusServer Icon">
</div>
</div>

<div class="row mt-4" vocab="https://schema.org/" typeof="Occupation Role" about="#clubfamily">
<div class="col order-sm-2">
 <h3 class="mx-0" property="name">Web Developer</h3>
 <a href="https://www.inspiring-travel.de">SD Inspiring Travel GmbH</a>, <span property="occupationLocation" typeof="City"><span property="name">Cologne, Germany</span></span><br>
  from <time property="startDate">2017</time> until <time property="endDate">2018</time>
  
  <p>SD Inspiring Travel GmbH is an online travel agency that specializes in family vacations.</p>
  <p>Tasks at this position included:<p>
  <ul property="responsibilities">
    <li>PHP Development: Drupal, Symphony</li>
    <li>Administration of Linux, physical and virtualized (Virtual Box), and macOS</li>
  </ul>
</div>
<div class="col-12 col-sm-auto order-sm-1">
  <img src="{{ '/images/ClubFamily.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="ClubFamily Icon">
</div>
</div>

<div class="row mt-4" vocab="https://schema.org/" typeof="Occupation Role" about="#schuelernachhilfe1">
<div class="col">
  <h3 class="mx-0" property="name">Private Tutor</h3>
  <a href="https://schuelernachhilfe1.de">SchülerNachhilfe1</a>, <span property="occupationLocation" typeof="City"><span property="name">Ulm, Germany</span></span><br>
  in <time property="startDate">2017</time>
  <meta property="endDate" content="2017">
  <p property="responsibilities">
   Private Tutor for English, Mathematics, Chemistry and Physics
  </p>
</div>
<div class="col-12 col-sm-auto">
  <img src="{{ '/images/S1.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="SchülerNachhilfe1 Icon">
</div>
</div>

<div class="row mt-4" vocab="https://schema.org/" typeof="Occupation Role" about="#teaching-assistant">
<div class="col order-sm-2">
 <h3 class="mx-0" property="name">Teaching Assistant</h3>
 <a href="https://www.uni-ulm.de">Ulm University</a>, <span property="occupationLocation" typeof="City"><span property="name">Ulm, Germany</span></span><br>
  from <time property="startDate">2010</time> until <time property="endDate">2016</time>
  <p property="responsibilities">
    Undergraduate Teaching Assistant for several lectures:<br>
    i.a. Formal Foundations of Computer Science, Logic for Computer Scientists, Programming Paradigms
  </p>
</div>
<div class="col-12 col-sm-auto order-sm-1">
  <img src="{{ '/images/uulm.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="Ulm University Logo">
</div>
</div>

<div class="row mt-4 no-print" vocab="https://schema.org/" typeof="Occupation Role" about="#sgi">
<div class="col">
  <h3 class="mx-0" property="name">Linux System Administrator</h3>
  <a href="https://www.uni-ulm.de">Ulm University</a>, <span property="occupationLocation" typeof="City"><span property="name">Ulm, Germany</span></span><br>
  from <time property="startDate">2013</time> until <time property="endDate">2014</time>
  <p property="responsibilities">
    Administration of student Linux computer pool
  </p>
</div>
<div class="col-12 col-sm-auto">
  <img src="{{ '/images/uulm.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="Ulm University Logo">
</div>
</div>

<h2 class="mt-4">Volunteer Work</h2>

<div class="row mt-1" vocab="https://schema.org/" typeof="Occupation Role" about="#devradio">
<div class="col">
  <h3 class="mx-0" property="name">Radio Show Host</h3>
  <a href="https://www.devradio.de">/dev/radio</a>, <span property="occupationLocation" typeof="City"><span property="name">Ulm, Germany</span></span><br>
  from <time property="startDate">2010</time> until <time property="endDate">2017</time>
  <p property="responsibilities">
    /dev/radio was a show of the Chaos Computer Club in Ulm, which used to be broadcasted at a non-commercial radio station.
    Topics of the show include everything geeky and technology.
  </p>
</div>
<div class="col-12 col-sm-auto">
  <img src="{{ '/images/devradio.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="/dev/radio Logo">
</div>
</div>

<div class="row mt-4" vocab="https://schema.org/" typeof="Occupation Role" about="#sk">
<div class="col order-sm-2">
 <h3 class="mx-0" property="name">Member of the Computer Science Study Commission</h3>
  <a href="https://stuve.uni-ulm.de/fin/">Computer Science Student Representation, Ulm University</a>, <span property="occupationLocation" typeof="City"><span property="name">Ulm, Germany</span></span><br>
  from <time property="startDate">2010</time> until <time property="endDate">2014</time>
</div>
<div class="col-12 col-sm-auto order-sm-1">
  <img src="{{ '/images/uulm.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="Ulm University Logo">
</div>
</div>

<div class="row mt-4" vocab="https://schema.org/" typeof="Occupation Role" about="#fin">
<div class="col">
  <h3 class="mx-0" property="name">Chairman</h3>
  <a href="https://stuve.uni-ulm.de/fin/">Computer Science Student Representation, Ulm University</a>, <span property="occupationLocation" typeof="City"><span property="name">Ulm, Germany</span></span><br>
  from <time property="startDate">2012</time> until <time property="endDate">2013</time>
</div>
<div class="col-12 col-sm-auto">
  <img src="{{ '/images/uulm.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="Ulm University Logo">
</div>
</div>

<h2 class="mt-4">Education</h2>

<div class="row mt-1 clearfix" vocab="https://schema.org/" typeof="EducationalOccupationalCredential
" about="#bsc">
<div class="col order-sm-2">
 <h3 class="mx-0" property="educationalLevel">Bachelor of Science</h3>
 <link class="d-none" property="recognizedBy" href="#uulm">
 <span class="mx-0 mb-0 pb-0" typeof="CollegeOrUniversity" about="#uulm">
  <a href="https://www.uni-ulm.de" property="name" rel="url">Ulm University</a>, <span property="address">Ulm, Germany</span>
 </span>
 from <time>2010</time> until <time property="dateCreated">2016</time>
 <p>
    Major in Computer Science; Minor in Physics<br>
    Bachelor Thesis: Subjective Logic Operators for Fusion of Misbehaviour Detection Mechanisms<br>
    Average Grade: 1.9 (1.0 is the best possible grade, 4.0 is barely passing, 5.0 is failing)
  </p>
</div>
<div class="col-12 col-sm-auto order-sm-1">
  <img src="{{ '/images/uulm.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="Ulm University Logo">
</div>
</div>

<h2 class="mt-4">Hobbies</h2>

<p class="print-only">
Riichi Mahjong • Vintage Audio • Creative Writing
</p>

<p class="mb-1 no-print">
I play <a href="https://www.finalfantasyxiv.com" target="_blank" ref="noopener">Final Fantasy XIV Online</a>.
My character is <a href="https://eu.finalfantasyxiv.com/lodestone/character/13180550/" target="_blank" ref="noopener">Tsumohou Tenhou on Light: Shiva</a>.

<h3 class="no-print">Riichi Mahjong</h3> 

<p class="no-print">
I finally got <a href="http://mahjong-europe.org/ranking/Players/05100170.html" target="_blank" ref="noopener">listed at the European Mahjong Association</a>
I play on <a href="https://tenhou.net" target="_blank" ref="noopener">tenhou.net</a> and in <a href="https://www.finalfantasyxiv.com" target="_blank" ref="noopener">Final Fantasy XIV Online</a>.
See my post about <a href="https://reki.wtf/blog/2019/03-12-riichi-mahjong-clients-2019/">Riichi Mahjong Clients</a>.
</p>

<h3 class="no-print">Creative Writing</h3>

<p class="no-print">
I'm currently working on the <a href="https://reki.wtf/amauga/">Web Novel Amauga</a>.
</p>

<style>
@media print {
  .print-text-center {
    text: center !important
  }

  .h1 {
    font-size: 32pt !important
  }

  main {
    font-size: 12pt !important
  }

  .icons.shields {
    justify-content: center !important
  }

  #preferred-technologies--tools,
  #work-experience {
    margin-top: 5mm
  }
    
  #work-experience {
    height: 8mm
  }

  #education {
    height: 8mm
  }
  
  [about='#it-nrw'],
  [about='#plusserver'],
  [about='#clubfamily'],
  [about='#schuelernachhilfe1'],
  [about='#teaching-assistant']{
    height: 65mm
  }

  [about='#sgi'],
  [about='#bsg-mm'],
  [about='#devradio'],
  [about='#sk'],
  [about='#fin'],
  [about='#uulm'] {
    height: 55mm
  }
  [about='#bsc'] {
    height: 65mm
  }

  [about]::after {
    clear: both;
    display: block;
    height: 1px;
    width: 100%;
    content: '&nbsp;';
    overflow: hidden
  }

  img[src*=uulm] {
    filter: contrast(1.5)
  }
   
  ul {
    margin-left: 8mm
  }

  #hobbies::before {
    display: block;
    content: '&nbsp;';
    height: 8mm;
    width: 100%
  }
}

.lr {
  direction:ltr;
  unicode-bidi:bidi-override
}

.rl {
  direction:rtl;
  unicode-bidi:bidi-override
}
</style>
