---
title: quốc Thái “RPGReki” Chung
layout: 2021/base

date: 2012-01-06

extra_meta:
  - property: "og:type"
    content: profile
  - property: profile:first_name
    content: Thai
  - property: profile:last_name
    content: Chung
  - property: profile:username
    content: RPGReki

about:
  type: Person
  links:
  - https://twitch.tv/RPGReki
  - https://youtube.com/RPGReki
  - https://youtube.com/RPGRekiMusic
  - https://twitter.com/RPGReki
  - https://www.deviantart.com/rpgreki
  - https://facebook.com/RPGReki
  - https://github.com/RPGReki
  - https://gitlab.com/RPGReki
  - https://www.patreon.com/RPGReki
  - https://flattr.com/@RPGReki
  - https://www.linkedin.com/in/q-thai-chung
  - https://www.xing.com/profile/Thai_Chung
  - https://amazon.com/author/0xreki
  - http://mahjong-europe.org/ranking/Players/05100170.html

redirect_from:
  - /wordpress/2015-04-26
  - /wordpress/2015-07-06
  - /blog/2023/04-30-rpgreki-lore
  - /rpgreki-lore
  - /0-impressum

excerpt: |
  About me, my universe and everything else: my credentials and hobbies
---

<h1>quốc Thái “RPGReki” Chung</h1>

<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "{{ page.about.type }}",
    "name": "Thai “RPGReki Chung”",
    "url": "{{ page.url | absolute_url }}"{% if page.about.links %},
    "sameAs": {{ page.about.links | jsonify }}{% endif %},
    "alumniOf": {
      "@id": "#uulm"
    },
    "hasOccupation": [{
      "@id": "#it-nrw"
    },{
      "@id": "#plusserver"
    },{
      "@id": "#clubfamily"
    },{
      "@id": "#schuelernachhilfe1"
    },{
      "@id": "#teaching-assistant"
    },{
      "@id": "#sgi"
    },{
      "@id": "#devradio"
    },{
      "@id": "#sk"
    },{
      "@id": "#fin"
    }],
    "hasCredential": {
      "@id": "#bc"
    }
  }
</script>

<p class="print-text-center">
<address class="lr">RPGReki, c/o autorenglück.de, Franz-Mehring-Str. 15, 01237 Dresden<span class="print-only">  •  ☎ +<span class="rl">94</span> <span class="rl">61</span>2/<span class="rl">63</span> 76 245</span></address>
</p>
<div class="row">
  <figure class="col-12 col-md-6 order-1 order-md-2">
    <picture>
      <source
        srcset="{{ "/images/rpgreki.avif" | absolute_url }}"
        width="432" height="1370"
        type="image/avif">
      <source  
        srcset="{{ "/images/rpgreki.webp" | absolute_url }}"
        width="432" height="1370"
        type="image/webp">
      <source
        srcset="{{ "/images/rpgreki.png" | absolute_url }}"
        width="432" height="1370"
      type="image/png">
      <img loading="lazy" itemprop="url"
        src="{{ "/images/rpgreki.png" | absolute_url }}" 
        width="432" height="1370"
        alt="RPGReki" title="RPGReki">
    </picture>
    <figcaption>RPGReki 1.0</figcaption>
  </figure>

  <div class="col-12 col-md-6 order-2 order-md-1">
    {% capture md %}{% include_relative platforms.md %}{% endcapture %}
    {{ md | markdownify }}

    <p class="no-print mt-2">
      Hello! I'm quốc Thái “RPGReki” Chung, read: /kʷuə̌kp tʰaǐ ɑːpiːʤiːrɛ̄kì cʰʊ̄ŋm/, or simply Thái or Reki.
      Out of character, I'm a Bavarian Swabian of Vietnamese descent, and I currently live near Cologne.

      I'm a Bunny Boy who grew up in Haitei City, usually desperate for good ramen.
      My interests include fortune-telling and Mahjong.
      If I'm not looking for trouble in Final Fantasy XIV, I play all other games, preferably turn-based JRPGs, though I do play other types of games at times.
    </p>

    <h2>Haitei City</h2>

    <p>
    You've never heard of Haitei City?
    Here's a story why it's called Haitei City:
    </p>

    <blockquote class="ml-1 ps-4" style="border-left: 1px solid">
    <p>
      Once upon on a clear night with a full moon, after a merry night of drinking, some council members left the pub “the Golden Lion” to go home.
      They happen to notice the reflection of the moon in a filled large tube that was set up in case of a fire.
      One of them got the genius idea to scoop out the moon to illuminate the city, especially on nights without moonlight.
      The others agreed with the idea and called for the city fisher.
      They and their servants arrived and began scooping the reflection of the moon from the bottom of the water, an act also known as Haitei Raoyue…
    </p>
    </blockquote>

    <p>
      While they were ultimately unsuccessful, the moon rewarded their perseverance and graced the inhabitants of Haitei City with its blessing.
      Even in these modern times, the moon is revered.
      Haitei City was too small, peaceful, boring and backwards, so I ended up leaving it.
      But the blessings of the moon will always be with me.
    </p>

    <p class="small" id="haitei-city">
    Haitei City is based of a my actual hometown.
    The legend I told is a real town legend!
    </p>
  </div>
  
  <div class="col-12 order-3 mt-4">
    <h2>Fortune Telling</h2>

    <p>
    Before smartphones, I had a lot of time on hand and spent a lot of time in the library.
    I stumbled upon a book about reading tarot cards.
    It was an interesting read, the cards tell very vague hints, and it's up to people to interpret them.
    Having the blessing of the moon helps with reading.
    Ever since, I read tarot for fun, please do not bet your pants on my readings.
    For readings, I use the <a href="https://www.kickstarter.com/projects/hitpointpress/the-deck-of-many-animated-spells-tarot-and-more-for-5e">Animated Tarot by the Animated Deck of Many Kickstarter</a>.
    </p>
    <h2>Mahjong</h2>

    <p>
    It all began with a game called “Shanghai: Dynasty” for Windows 95.
    The game only featured Chinese Classical Mahjong and Western/British Mahjong.
    There's a patch that adds Riichi Mahjong, but who downloaded internet patches in 1997?!
    In 2009, my first contact with Riichi Mahjong was the Anime Saki.
    Since then, I played online from time to time, I also started to play in-person soon after.
    Sometimes, the reflection of the moon at the bottom of the water graces me with its blessings: winning on the Last Tile Draw.
    </p>

    <p>
      I'm currently in the <a href="http://mahjong-europe.org/ranking/Players/05100170.html" target="_blank" ref="noopener">ranking of the European Mahjong Association</a>.
      Usually, I play on <a href="https://ron2.net" target="_blank" ref="noopener">Ron²</a>, <a href="https://tenhou.net" target="_blank" ref="noopener">tenhou.net</a> and in <a href="https://www.finalfantasyxiv.com" target="_blank" ref="noopener">Final Fantasy XIV Online</a>, but if need I will on other clients as well.
      See my post about <a href="https://reki.wtf/blog/2019/03-12-riichi-mahjong-clients-2019/">Riichi Mahjong Clients</a>.
    </p>

    <h2 class="no-print">Creative Writing</h2>

    <p class="no-print">
    I'm currently working on the Science Fiction Fantasy <a href="https://reki.wtf/amauga/">Web Novel Amauga</a>.
    </p>
  </div>
</div>

<h2 class="mt-4">Character Reference</h2>

<p>Hot bunny boy, muscular twink (= slight muscle, but still very boyish), bottom, with white/silver hair.</p>

<div class="row">
  <div class="col-4 col-sm-2">Motives</div>
  <img class="col-5" src="/images/petal.png" width="512" height="512" style="height:fit-content">
  <img class="col-5" src="/mask-icon.png" width="512" height="512" style="height:fit-content">
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Ears</div>
  <div class="col">white/silver bunny ears, earring on left ear is optional — should wiggle when blinking</div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Hair</div>
  <div class="col">white/silver long wild hairstyle (hairstyle see reference), with bandana</div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Eyes</div>
  <div class="col">
    right: very dark green<br>
    left: very dark red
  </div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Neck</div>
  <div class="col">black choker or collar (details up for discussion)</div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Chest</div>
  <div class="col">
    wine red haori over dark yukata, worn open; details & pattern of haori/yukata up for discussion<br>
    • toggle to take off haori & yukata
  </div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Hands</div>
  <div class="col">fist wraps</div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Legs</div>
  <div class="col">wide dark pants that go with the top (details & pattern of pants up for discussion)</div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Tail</div>
  <div class="col">bunny cotton tail, not visible under clothing</div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Feet</div>
  <div class="col">dark geta</div>
</div>



<h2 class="no-print mt-4">Preferred Technologies & Tools</h2>

<p class="no-print">
A selection of technology and tools that I use.
Badges are powered by <a href="https://shields.io" target="_blank" ref="noopener">shields.io</a>.
</p>

{% capture md %}

{:.shields.mb-2.no-print}
![OS: Linux]({{ "/proxy/shields/-Linux/linux/shield.svg" | absolute_url}}){:loading="lazy" width="172" height="56"}
![OS: archlinux]({{'/proxy/shields/-archlinux/archlinux/shield.svg' | absolute_url}}){:loading="lazy" width="244" height="56"}
![OS: RHEL]({{'/proxy/shields/-Red_Hat/redhat/shield.svg' | absolute_url}}){:loading="lazy" width="198" height="56"}
![Web: HTML5]({{ "/proxy/shields/-HTML5/html5/shield.svg" | absolute_url }}){:loading="lazy" width="176" height="56"}
![Web: CSS3]({{ "/proxy/shields/-CSS3/css3/shield.svg" | absolute_url }}){:loading="lazy" width="154" height="56"}
![Web: JavaScript]({{ "/proxy/shields/-javascript/javascript/shield.svg" | absolute_url }}){:loading="lazy" width="254" height="56"}
![Web: jQuery]({{ "/proxy/shields/-jQuery/jquery/shield.svg" | absolute_url }}){:loading="lazy" width="192" height="56"}
![Web: Jekyll]({{ "/proxy/shields/-Jekyll/jekyll/shield.svg" | absolute_url }}){:loading="lazy" width="184" height="56" class="no-print"}
![Code: Basic.NET]({{ "/proxy/shields/-Basic_.NET/.net/shield.svg" | absolute_url }}){:loading="lazy" width="242" height="56"}
![Code: Haskell]({{ "/proxy/shields/-Haskell/haskell/shield.svg" | absolute_url }}){:loading="lazy" width="206" height="56"}
![Code: Make]({{ "/proxy/shields/-Make/cmake/shield.svg" | absolute_url }}){:loading="lazy" width="160" height="56"}
![Code: Ansible]({{ "/proxy/shields/-Ansible/ansible/shield.svg" | absolute_url }}){:loading="lazy" width="160" height="56"}
![Code: Python]({{ "/proxy/shields/-Python/python/shield.svg" | absolute_url }}){:loading="lazy" width="196" height="56"}
![Code: Ruby]({{ "/proxy/shields/-Ruby/ruby/shield.svg" | absolute_url }}){:loading="lazy" width="158" height="56"}
![Shell: Bash]({{ "/proxy/shields/-Bash/gnu-bash/shield.svg" | absolute_url }}){:loading="lazy" width="158" height="56"}
![Text: LaTeX]({{ "/proxy/shields/-LaTeX/latex/shield.svg" | absolute_url }}){:loading="lazy" width="170" height="56"}
![Text: Markdown]({{ "/proxy/shields/-Markdown/markdown/shield.svg" | absolute_url }}){:loading="lazy" width="246" height="56"}

{% endcapture %}
{{ md | markdownify }}

<h2 class="mb-1">Work</h2>

<div class="row mt-1" vocab="https://schema.org/" typeof="Occupation Role" about="#it-nrw">
<div class="col order-sm-2">
  <h3 class="mx-0" property="name">Network Administrator</h3>
  <a href="https://www.it.nrw">Information und Technik Nordrhein-Westfalen</a>, <span property="occupationLocation" typeof="City"><span property="name">Düsseldorf, Germany</span></span><br>
 since <time property="startDate">2020</time>

  <p>IT.NRW develops and provides IT infrastructure for the state administration of North Rhine-Westphalia.</p>
  <p>Tasks at this position include:<p>
    <ul property="reponsibilities">
    {% comment %}
    <li>Administration of Application Layer Gateways and Proxies</li>
    {% endcomment %}
    <li>Due to unsolicited calls from headhunters and salespeople, my responsibilities shall remain unpublished until I leave this employer.</li>
  </ul>
</div>

<div class="col-12 col-sm-auto order-sm-1">
  <img src="{{ '/images/NRW.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="Nordrhein-Westfalen Symbol">
</div>
</div>

<div class="row mt-4" vocab="https://schema.org/" typeof="Occupation Role" about="#plusserver">
<div class="col">
  <h3 class="mx-0" property="name">System Administrator</h3>
  <a href="https://www.plusserver.com">PlusServer GmbH</a>, <span property="occupationLocation" typeof="City"><span property="name">Cologne, Germany</span></span><br>
  from <time property="startDate">2018</time> until <time property="endDate">2019</time>
  
  <p>PlusServer helps organizations realize the full potential of their cloud strategy.</p>
  <p>Tasks at this position included:<p>
  <ul property="responsibilities">
   <li>Administration of Linux and Windows Servers, physical and virtualized (VMWare), for Internal IT</li>
  </ul>
</div>
<div class="col-12 col-sm-auto">
  <img src="{{ '/images/PlusServer.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="PlusServer Icon">
</div>
</div>

<div class="row mt-4" vocab="https://schema.org/" typeof="Occupation Role" about="#clubfamily">
<div class="col order-sm-2">
 <h3 class="mx-0" property="name">Web Developer</h3>
 <a href="https://www.inspiring-travel.de">SD Inspiring Travel GmbH</a>, <span property="occupationLocation" typeof="City"><span property="name">Cologne, Germany</span></span><br>
  from <time property="startDate">2017</time> until <time property="endDate">2018</time>
  
  <p>SD Inspiring Travel GmbH is an online travel agency that specializes in family vacations.</p>
  <p>Tasks at this position included:<p>
  <ul property="responsibilities">
    <li>PHP Development: Drupal, Symphony</li>
    <li>Administration of Linux, physical and virtualized (Virtual Box), and macOS</li>
  </ul>
</div>
<div class="col-12 col-sm-auto order-sm-1">
  <img src="{{ '/images/ClubFamily.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="ClubFamily Icon">
</div>
</div>

<div class="row mt-4" vocab="https://schema.org/" typeof="Occupation Role" about="#schuelernachhilfe1">
<div class="col">
  <h3 class="mx-0" property="name">Private Tutor</h3>
  <a href="https://schuelernachhilfe1.de">SchülerNachhilfe1</a>, <span property="occupationLocation" typeof="City"><span property="name">Ulm, Germany</span></span><br>
  in <time property="startDate">2017</time>
  <meta property="endDate" content="2017">
  <p property="responsibilities">
   Private Tutor for English, Mathematics, Chemistry and Physics
  </p>
</div>
<div class="col-12 col-sm-auto">
  <img src="{{ '/images/S1.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="SchülerNachhilfe1 Icon">
</div>
</div>

<div class="row mt-4" vocab="https://schema.org/" typeof="Occupation Role" about="#teaching-assistant">
<div class="col order-sm-2">
 <h3 class="mx-0" property="name">Teaching Assistant</h3>
 <a href="https://www.uni-ulm.de">Ulm University</a>, <span property="occupationLocation" typeof="City"><span property="name">Ulm, Germany</span></span><br>
  from <time property="startDate">2010</time> until <time property="endDate">2016</time>
  <p property="responsibilities">
    Undergraduate Teaching Assistant for several lectures:<br>
    i.a. Formal Foundations of Computer Science, Logic for Computer Scientists, Programming Paradigms
  </p>
</div>
<div class="col-12 col-sm-auto order-sm-1">
  <img src="{{ '/images/uulm.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="Ulm University Logo">
</div>
</div>

<div class="row mt-4 no-print" vocab="https://schema.org/" typeof="Occupation Role" about="#sgi">
<div class="col">
  <h3 class="mx-0" property="name">Linux System Administrator</h3>
  <a href="https://www.uni-ulm.de">Ulm University</a>, <span property="occupationLocation" typeof="City"><span property="name">Ulm, Germany</span></span><br>
  from <time property="startDate">2013</time> until <time property="endDate">2014</time>
  <p property="responsibilities">
    Administration of student Linux computer pool
  </p>
</div>
<div class="col-12 col-sm-auto">
  <img src="{{ '/images/uulm.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="Ulm University Logo">
</div>
</div>

<h2 class="mt-4">Volunteer Work</h2>

<div class="row mt-1" vocab="https://schema.org/" typeof="Occupation Role" about="#devradio">
<div class="col">
  <h3 class="mx-0" property="name">Radio Show Host</h3>
  <a href="https://www.devradio.de">/dev/radio</a>, <span property="occupationLocation" typeof="City"><span property="name">Ulm, Germany</span></span><br>
  from <time property="startDate">2010</time> until <time property="endDate">2017</time>
  <p property="responsibilities">
    /dev/radio was a show of the Chaos Computer Club in Ulm, which used to be broadcasted at a non-commercial radio station.
    Topics of the show included technology and everything geeky.
  </p>
</div>
<div class="col-12 col-sm-auto">
  <img src="{{ '/images/devradio.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="/dev/radio Logo">
</div>
</div>

<div class="row mt-4" vocab="https://schema.org/" typeof="Occupation Role" about="#sk">
<div class="col order-sm-2">
 <h3 class="mx-0" property="name">Member of the Computer Science Study Commission</h3>
  <a href="https://stuve.uni-ulm.de/fin/">Computer Science Student Representation, Ulm University</a>, <span property="occupationLocation" typeof="City"><span property="name">Ulm, Germany</span></span><br>
  from <time property="startDate">2010</time> until <time property="endDate">2014</time>
</div>
<div class="col-12 col-sm-auto order-sm-1">
  <img src="{{ '/images/uulm.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="Ulm University Logo">
</div>
</div>

<div class="row mt-4" vocab="https://schema.org/" typeof="Occupation Role" about="#fin">
<div class="col">
  <h3 class="mx-0" property="name">Chairman</h3>
  <a href="https://stuve.uni-ulm.de/fin/">Computer Science Student Representation, Ulm University</a>, <span property="occupationLocation" typeof="City"><span property="name">Ulm, Germany</span></span><br>
  from <time property="startDate">2012</time> until <time property="endDate">2013</time>
</div>
<div class="col-12 col-sm-auto">
  <img src="{{ '/images/uulm.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="Ulm University Logo">
</div>
</div>

<h2 class="mt-4">Education</h2>

<div class="row mt-1 clearfix" vocab="https://schema.org/" typeof="EducationalOccupationalCredential
" about="#bsc">
<div class="col order-sm-2">
 <h3 class="mx-0" property="educationalLevel">Bachelor of Science</h3>
 <link class="d-none" property="recognizedBy" href="#uulm">
 <span class="mx-0 mb-0 pb-0" typeof="CollegeOrUniversity" about="#uulm">
  <a href="https://www.uni-ulm.de" property="name" rel="url">Ulm University</a>, <span property="address">Ulm, Germany</span>
 </span>
 from <time>2010</time> until <time property="dateCreated">2016</time>
 <p>
    Major in Computer Science; Minor in Physics<br>
    Bachelor Thesis: Subjective Logic Operators for Fusion of Misbehaviour Detection Mechanisms<br>
    Average Grade: 1.9 (1.0 is the best possible grade, 4.0 is barely passing, 5.0 is failing)
  </p>
</div>
<div class="col-12 col-sm-auto order-sm-1">
  <img src="{{ '/images/uulm.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="Ulm University Logo">
</div>
</div>

<style>
@media print {
  .print-text-center {
    text: center !important
  }

  .h1 {
    font-size: 32pt !important
  }

  main {
    font-size: 12pt !important
  }

  .icons.shields {
    justify-content: center !important
  }

  #preferred-technologies--tools,
  #work-experience {
    margin-top: 5mm
  }
    
  #work-experience {
    height: 8mm
  }

  #education {
    height: 8mm
  }
  
  [about='#it-nrw'],
  [about='#plusserver'],
  [about='#clubfamily'],
  [about='#schuelernachhilfe1'],
  [about='#teaching-assistant']{
    height: 65mm
  }

  [about='#sgi'],
  [about='#bsg-mm'],
  [about='#devradio'],
  [about='#sk'],
  [about='#fin'],
  [about='#uulm'] {
    height: 55mm
  }
  [about='#bsc'] {
    height: 65mm
  }

  [about]::after {
    clear: both;
    display: block;
    height: 1px;
    width: 100%;
    content: '&nbsp;';
    overflow: hidden
  }

  img[src*=uulm] {
    filter: contrast(1.5)
  }
   
  ul {
    margin-left: 8mm
  }

  #hobbies::before {
    display: block;
    content: '&nbsp;';
    height: 8mm;
    width: 100%
  }
}

.lr {
  direction:ltr;
  unicode-bidi:bidi-override
}

.rl {
  direction:rtl;
  unicode-bidi:bidi-override
}
</style>
