---
title: RPGReki
layout: 2021/base

date: 2012-01-06

extra_meta:
  - property: "og:type"
    content: profile
  - property: profile:username
    content: RPGReki

about:
  type: Person
  links:
  - https://twitch.tv/RPGReki
  - https://youtube.com/RPGReki
  - https://youtube.com/RPGRekiMusic
  - https://twitter.com/RPGReki
  - https://www.deviantart.com/rpgreki
  - https://facebook.com/RPGReki
  - https://github.com/RPGReki
  - https://gitlab.com/RPGReki
  - https://www.patreon.com/RPGReki
  - https://flattr.com/@RPGReki
  - https://www.linkedin.com/in/q-thai-chung
  - https://www.xing.com/profile/Thai_Chung
  - http://mahjong-europe.org/ranking/Players/05100170.html

redirect_from:
  - /wordpress/2015-04-26
  - /wordpress/2015-07-06
  - /blog/2023/04-30-rpgreki-lore
  - /rpgreki-lore
  - /0-impressum

excerpt: |
  About me, my universe and everything else: my credentials and hobbies
---

<h1>RPGReki</h1>

<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "{{ page.about.type }}",
    "name": "Thai “RPGReki Chung”",
    "url": "{{ page.url | absolute_url }}"{% if page.about.links %},
    "sameAs": {{ page.about.links | jsonify }}{% endif %},
    "alumniOf": {
      "@id": "#uulm"
    },
    "hasOccupation": [{
      "@id": "#it-nrw"
    },{
      "@id": "#plusserver"
    },{
      "@id": "#clubfamily"
    },{
      "@id": "#schuelernachhilfe1"
    },{
      "@id": "#teaching-assistant"
    },{
      "@id": "#sgi"
    },{
      "@id": "#devradio"
    },{
      "@id": "#sk"
    },{
      "@id": "#fin"
    }],
    "hasCredential": {
      "@id": "#bc"
    }
  }
</script>

<p class="print-text-center">
<address class="lr">RPGReki, c/o autorenglück.de, Franz-Mehring-Str. 15, 01237 Dresden<span class="print-only">  •  ☎ +<span class="rl">94</span> <span class="rl">61</span>2/<span class="rl">63</span> 76 245</span></address>
</p>

{% capture md %}{% include_relative platforms.md %}{% endcapture %}
{{ md | markdownify }}

<div class="row">
  <figure class="col-12 col-md-6 order-1 order-md-2">
    <picture>
      <source
        srcset="{{ "/images/rpgreki.avif" | absolute_url }}"
        width="328" height="1047"
        type="image/avif">
      <source  
        srcset="{{ "/images/rpgreki.webp" | absolute_url }}"
        width="328" height="1047"
        type="image/webp">
      <source
        srcset="{{ "/images/rpgreki.png" | absolute_url }}"
        width="328" height="1047"
      type="image/png">
      <img loading="lazy" itemprop="url"
        src="{{ "/images/rpgreki.png" | absolute_url }}" 
        width="328" height="1047"
        alt="RPGReki" title="RPGReki">
    </picture>
    <figcaption>RPGReki 1.2</figcaption>
  </figure>

  <div class="col-12 col-md-6 order-2 order-md-1">
    <p class="no-print mt-2">
      Hello!
      I'm RPGReki or simply Reki.
      I'm a Bunny Boy who grew up in Haitei City.
      Sometimes, I steal a TARDIS to look for trouble in different times and realms.
      Has the owner ever noticed?
      No, they have never noticed it.
      It's a time machine!
      I just bring it back 1 second later and all is good.
      One of realms I currently frequent is Final Fantasy XIV.
      While I visit other realms, preferably those of turn-based JRPGs, though I do spend my time in realms comfy realms too.
      As a time-traveler, I shouldn't give you spoilers, so my fortune-telling is just me nudging you in the right direction, or just messing with you for my own amusement, you never know.
      Spoilers!
    </p>

    <h2>Haitei City</h2>

    <p>
    You've never heard of Haitei City?
    Here's a story why it's called Haitei City:
    </p>

    <blockquote class="ml-1 ps-3 py-1" style="border-left: 1px solid">
    <p>
      Once upon on a clear night with a full moon, after a merry night of drinking, some council members left the pub “the Golden Lion” to go home.
      They happen to notice the reflection of the moon in a filled large tube that was set up in case of a fire.
      One of them got the genius idea to scoop out the moon to illuminate the city, especially on nights without moonlight.
      The others agreed with the idea and called for the city fisher.
      They and their servants arrived and began scooping the reflection of the moon from the bottom of the water, an act also known as Haitei Raoyue…
    </p>
    </blockquote>

    <p>
      While they were ultimately unsuccessful, the moon rewarded their perseverance and graced the inhabitants of Haitei City with its blessing.
      Even in these modern times, the moon is revered.
      Haitei City was too small, peaceful, boring and backwards, so I ended up leaving it.
      But the blessings of the moon will always be with me.
    </p>
  </div>
  
  <div class="col-12 order-3 mt-4">
    <h2>Mahjong</h2>

    <p>
    It all began with a game called “Shanghai: Dynasty” for Windows 95.
    The game only featured Chinese Classical Mahjong and Western/British Mahjong.
    There's a patch that adds Riichi Mahjong, but who downloaded internet patches in 1997?!
    In 2009, my first contact with Riichi Mahjong was the Anime Saki.
    Since then, I played online from time to time, I also started to play in-person soon after.
    Sometimes, the reflection of the moon at the bottom of the water graces me with its blessings: winning on the Last Tile Draw.
    </p>

    <p>
      Usually, I play on <a href="https://ron2.net" target="_blank" ref="noopener">Ron²</a>, <a href="https://tenhou.net" target="_blank" ref="noopener">tenhou.net</a> and in <a href="https://www.finalfantasyxiv.com" target="_blank" ref="noopener">Final Fantasy XIV Online</a>, but if need I will on other clients as well.
      See my post about <a href="https://reki.wtf/blog/2019/03-12-riichi-mahjong-clients-2019/">Riichi Mahjong Clients</a>.
    </p>

    <h2 class="no-print">Creative Writing</h2>

    <p class="no-print">
    I'm currently working on the Science Fiction Fantasy <a href="https://reki.wtf/amauga/">Web Novel Amauga</a>.
    </p>
  </div>
</div>

<h2 class="mt-4">Character Reference</h2>

<p>Hot bunny boy, muscular twink (= slight muscle, but still very boyish), bottom, with black and white/silver hair.</p>

<div class="row">
  <div class="col-4 col-sm-2">Motives</div>
  <img class="col-5" src="/images/petal.png" width="512" height="512" style="height:fit-content">
  <img class="col-5" src="/mask-icon.png" width="512" height="512" style="height:fit-content">
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Ears</div>
  <div class="col">white/silver bunny ears, earring on left ear is optional — should wiggle when blinking</div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Hair</div>
  <div class="col">black and white/silver long wild hairstyle (hairstyle see reference), with bandana</div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Eyes</div>
  <div class="col">
    right: very dark green<br>
    left: very dark red
  </div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Neck</div>
  <div class="col">black choker or collar (details up for discussion)</div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Chest</div>
  <div class="col">
    red haori over dark yukata, worn open; details & pattern of haori/yukata up for discussion<br>
    • toggle to take off haori & yukata<br>
    • toggle to add rope harness
  </div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Hands</div>
  <div class="col">fist wraps</div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Legs</div>
  <div class="col">wide dark pants that go with the top (details & pattern of pants up for discussion)</div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Tail</div>
  <div class="col">bunny cotton tail, not visible under clothing</div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Feet</div>
  <div class="col">dark geta</div>
</div>


<div class="row">
  <figure class="col-12 col-md-4">
    <picture>
      <source
        srcset="{{ "/images/rpgreki-nekked.avif" | absolute_url }}"
        width="328" height="1047"
        type="image/avif">
      <source  
        srcset="{{ "/images/rpgreki-nekked.webp" | absolute_url }}"
        width="328" height="1047"
        type="image/webp">
      <source
        srcset="{{ "/images/rpgreki-nekked.png" | absolute_url }}"
        width="328" height="1047"
      type="image/png">
      <img loading="lazy" itemprop="url"
        src="{{ "/images/rpgreki-nekked.png" | absolute_url }}" 
        width="328" height="1047"
        alt="RPGReki" title="RPGReki">
    </picture>
    <figcaption>RPGReki 1.2 without Haori</figcaption>
  </figure>
  <figure class="col-12 col-md-4">
    <picture>
      <source
        srcset="{{ "/images/rpgreki-rope.avif" | absolute_url }}"
        width="328" height="1047"
        type="image/avif">
      <source  
        srcset="{{ "/images/rpgreki-rope.webp" | absolute_url }}"
        width="328" height="1047"
        type="image/webp">
      <source
        srcset="{{ "/images/rpgreki-rope.png" | absolute_url }}"
        width="328" height="1047"
      type="image/png">
      <img loading="lazy" itemprop="url"
        src="{{ "/images/rpgreki-rope.png" | absolute_url }}" 
        width="328" height="1047"
        alt="RPGReki" title="RPGReki">
    </picture>
    <figcaption>RPGReki 1.2 in Rope </figcaption>
  </figure>
  <figure class="col-12 col-md-4">
    <picture>
      <source
        srcset="{{ "/images/rpgreki-nekked-rope.avif" | absolute_url }}"
        width="328" height="1047"
        type="image/avif">
      <source  
        srcset="{{ "/images/rpgreki-nekked-rope.webp" | absolute_url }}"
        width="328" height="1047"
        type="image/webp">
      <source
        srcset="{{ "/images/rpgreki-nekked-rope.png" | absolute_url }}"
        width="328" height="1047"
      type="image/png">
      <img loading="lazy" itemprop="url"
        src="{{ "/images/rpgreki-nekked-rope.png" | absolute_url }}" 
        width="328" height="1047"
        alt="RPGReki" title="RPGReki">
    </picture>
    <figcaption>RPGReki 1.2 in Rope without Haori</figcaption>
  </figure>
</div>

<h2 class="mt-4">Previous Work</h2>

<div class="row mt-1" vocab="https://schema.org/" typeof="Occupation Role" about="#devradio">
<div class="col">
  <h3 class="mx-0" property="name">Radio Show Host</h3>
  <a href="https://www.devradio.de">/dev/radio</a>, <span property="occupationLocation" typeof="City"><span property="name">Ulm, Germany</span></span><br>
  from <time property="startDate">2010</time> until <time property="endDate">2016</time>
  <p property="responsibilities">
    /dev/radio was a show of the Chaos Computer Club in Ulm, which used to be broadcasted at a non-commercial radio station.
    Topics of the show included technology and everything geeky.
  </p>
</div>
<div class="col-12 col-sm-auto">
  <img src="{{ '/images/devradio.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="/dev/radio Logo">
</div>
</div>

<style>
@media print {
  .print-text-center {
    text: center !important
  }

  .h1 {
    font-size: 32pt !important
  }

  main {
    font-size: 12pt !important
  }

  .icons.shields {
    justify-content: center !important
  }

  #preferred-technologies--tools,
  #work-experience {
    margin-top: 5mm
  }
    
  [about]::after {
    clear: both;
    display: block;
    height: 1px;
    width: 100%;
    content: '&nbsp;';
    overflow: hidden
  }

  
  ul {
    margin-left: 8mm
  }

  #hobbies::before {
    display: block;
    content: '&nbsp;';
    height: 8mm;
    width: 100%
  }
}

.lr {
  direction:ltr;
  unicode-bidi:bidi-override
}

.rl {
  direction:rtl;
  unicode-bidi:bidi-override
}
</style>
