---
title: RPGReki
layout: 2021/base
ref: about-me

date: 2026-01-01

extra_meta:
  - property: "og:type"
    content: profile
  - property: profile:username
    content: RPGReki

about:
  type: Person
  links:
  - https://twitch.tv/RPGReki
  - https://youtube.com/@RPGReki
  - https://youtube.com/@RPGRekiMusic
  - https://bsky.app/profile/rpgreki.vtubers.social
  - https://vt.social/@RPGReki
  - https://twitter.com/RPGReki
  - https://facebook.com/RPGReki
  - https://github.com/RPGReki
  - https://gitlab.com/RPGReki
  - https://www.patreon.com/RPGReki
  - https://ko-fi.com/RPGReki
  - https://flattr.com/@RPGReki

excerpt: |
  About me, my universe and everything else: my credentials and hobbies
---

<h1>RPGReki</h1>

<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "{{ page.about.type }}",
    "name": "Thai “RPGReki Chung”",
    "url": "{{ page.url | absolute_url }}"{% if page.about.links %},
    "sameAs": {{ page.about.links | jsonify }}{% endif %}
  }
</script>

<p class="print-text-center">
  <address class="lr">&#80;&#85;&#82;&#69;&#52;&#85;&#32;&#45;&#32;&#82;&#80;&#71;&#82;&#101;&#107;&#105;&comma;&#32;&#99;&sol;&#111;&#32;&#76;&#69;&#65;&#68;&#69;&#82;&#76;&#89;&#32;&#85;&#71;&comma;&#32;&#65;&#109;&#116;&#115;&#116;&#114;&#97;&szlig;&#101;&#32;&#50;&#50;&comma;&#32;&#52;&#52;&#53;&#55;&#53;&#32;&#67;&#97;&#115;&#116;&#114;&#111;&#112;&#45;&#82;&#97;&#117;&#120;&#101;&#108;</address>
</p>

{% capture md %}{% include_relative platforms.md %}{% endcapture %}
{{ md | markdownify }}

<div class="row">
  <figure class="col-12 col-md-6 order-1 order-md-2">
    <picture>
      <source
        srcset="{{ "/images/rpgreki-incubun.avif" | absolute_url }}"
        width="562" height="901"
        type="image/avif">
      <source  
        srcset="{{ "/images/rpgreki-incubun.webp" | absolute_url }}"
        width="562" height="901"
        type="image/webp">
      <source
        srcset="{{ "/images/rpgreki-incubun.png" | absolute_url }}"
        width="562" height="901"
      type="image/png">
      <img loading="lazy" itemprop="url"
        src="{{ "/images/rpgreki-incubun.png" | absolute_url }}" 
        width="562" height="901"
        alt="RPGReki" title="RPGReki"
        class="w-100 h-auto">
    </picture>
    <figcaption>RPGReki 1.5 Incubun</figcaption>
  </figure>

  <div class="col-12 col-md-6 order-2 order-md-1">
    <p class="no-print mt-2">
      Hello!
      I'm RPGReki or simply Reki, also formerly known as 0xReki.
      I'm an Incubun who grew up in Haitei City.
      Sometimes, I use my moon-empowered inubus magic to look for trouble in different times and realms.
      One of realms I currently frequent is Final Fantasy XIV.
      While I visit other realms, preferably those of turn-based JRPGs, though I do spend my time in realms comfy realms too.
      As a time-traveler, I shouldn't give you spoilers, so my fortune-telling is just me nudging you in the right direction, or just messing with you for my own amusement, you never know.
      Spoilers!
    </p>

    <h2>Haitei City</h2>

    <p>
    You've never heard of Haitei City?
    Here's a story why it's called Haitei City:
    </p>

    <blockquote class="ml-1 ps-3 py-1" style="border-left: 1px solid">
    <p>
      Once upon on a clear night with a full moon, after a merry night of drinking, some council members left the pub “the Golden Lion” to go home.
      They happen to notice the reflection of the moon in a filled large tube that was set up in case of a fire.
      One of them got the genius idea to scoop out the moon to illuminate the city, especially on nights without moonlight.
      The others agreed with the idea and called for the city fisher.
      They and their servants arrived and began scooping the reflection of the moon from the bottom of the water, an act also known as Haitei Raoyue…
    </p>
    </blockquote>

    <p>
      While they were ultimately unsuccessful, the moon rewarded their perseverance and graced the inhabitants of Haitei City with its blessing.
      Even in these modern times, the moon is revered.
      Haitei City was too small, peaceful, boring and backwards, so I ended up leaving it.
      But the blessings of the moon will always be with me.
    </p>
  </div>
  
  <div class="col-12 order-3 mt-4">
    <h2>Mahjong</h2>

    <p>
    It all began with a game called “Shanghai: Dynasty” for Windows 95.
    The game only featured Chinese Classical Mahjong and Western/British Mahjong.
    There's a patch that adds Riichi Mahjong, but who downloaded internet patches in 1997?!
    In 2009, my first contact with Riichi Mahjong was the Anime Saki.
    Since then, I played online from time to time, I also started to play in-person soon after.
    Sometimes, the reflection of the moon at the bottom of the water graces me with its blessings: winning on the Last Tile Draw.
    </p>

    <p>
      Usually, I play on <a href="https://ron2.net" target="_blank" ref="noopener">Ron²</a>, <a href="https://tenhou.net" target="_blank" ref="noopener">tenhou.net</a> and in <a href="https://www.finalfantasyxiv.com" target="_blank" ref="noopener">Final Fantasy XIV Online</a>, but if need I will on other clients as well.
      See my post about <a href="https://reki.wtf/blog/2019/03-12-riichi-mahjong-clients-2019/">Riichi Mahjong Clients</a>.
    </p>

    <h2 class="no-print">Creative Writing</h2>

    <p class="no-print">
    I'm currently working on the Science Fiction Fantasy <a href="https://reki.wtf/amauga/">Web Novel Amauga</a>.
    </p>
  </div>
</div>

<h2 class="mt-4" id="character-reference">Character Reference</h2>

<p>Hot incubun — incubus bunny boy, twunk — muscular twink, bottom, with black and white/silver hair.</p>

<div class="row">
  <div class="col-4 col-sm-2">Motives</div>
  <img class="col-5" src="/images/petal.png" width="512" height="512" style="height:fit-content">
  <img class="col-5" src="/mask-icon.png" width="512" height="512" style="height:fit-content">
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Ears</div>
  <div class="col">white/silver bunny ears, right ear dyed gray on the outside , left ear dyed black on the outside earring on left ear is optional — should wiggle when blinking<br>
  can shapeshift to different ears</div>

</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Hair</div>
  <div class="col">grey, black and white/silver long wild hairstyle (hairstyle see reference), with red bandana</div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Eyes</div>
  <div class="col">
    right: very dark green<br>
    left: very dark red
  </div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Neck</div>
  <div class="col">black choker or collar (details up for discussion)</div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Torso</div>
  <div class="col">
    red haori over dark yukata, worn open; details & pattern of haori/yukata up for discussion<br>
    • toggle to take off haori & yukata<br>
    • toggle to add rope harness<br>
    • toggle to add latex suit <br>
    • hidable incubus wings
  </div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Hands</div>
  <div class="col">fist wraps</div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Legs</div>
  <div class="col">wide dark pants that go with the top (details & pattern of pants up for discussion)</div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Tail</div>
  <div class="col">in bunny mode: bunny cotton tail, not visible under clothing <br>
                   in inubun mode: inucubuns tail, wirh heart shaped tip<br>
                   can shapeshift to different tails
  </div>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Feet</div>
  <div class="col">dark geta</div>
</div>


<div class="row mt-4">
  <figure class="col-12">
    <picture>
      <img loading="lazy" itemprop="url"
        srcset="{{ "/images/rpgreki-character-sheet.png" | absolute_url }}"
        width="4200" height="2400"
        alt="RPGReki 1.5 Character Sheet" title="RPGReki"
        class="w-100 h-auto">
    </picture>
    <figcaption>RPGReki 1.5 Character Sheet</figcaption>
  </figure>
</div>

<div class="row mt-4">
  <div class="col-4 col-sm-2">Fanwork Policy</div>
  <div class="col">everything allowed, but: femboy, feminization, genderbend</div>
</div>

<h2 class="mt-4">Previous Projects</h2>

<div class="row mt-1" vocab="https://schema.org/" typeof="Occupation Role" about="#devradio">
<div class="col">
  <h3 class="mx-0" property="name">Radio Show Host</h3>
  <a href="https://www.devradio.de">/dev/radio</a>, <span property="occupationLocation" typeof="City"><span property="name">Ulm, Germany</span></span><br>
  from <time property="startDate">2010</time> until <time property="endDate">2016</time>
  <p property="responsibilities">
    /dev/radio was a show of the Chaos Computer Club in Ulm, which used to be broadcasted at a non-commercial radio station.
    Topics of the show included technology and everything geeky.
  </p>
</div>
<div class="col-12 col-sm-auto">
  <img src="{{ '/images/devradio.webp' | absolute_url }}" width="200" height="200" loading="lazy" alt="/dev/radio Logo">
</div>
</div>

<h2 class="mt-4" id="legal">Legal Notice</h2>
<p>
  <address>&#84;&#104;&#97;&#105;&#32;&#67;&#104;&#117;&#110;&#103;&comma;&#32;&#99;&sol;&#111;&#32;&#76;&#69;&#65;&#68;&#69;&#82;&#76;&#89;&#32;&#85;&#71;&comma;&#32;&#65;&#109;&#116;&#115;&#116;&#114;&#97;&szlig;&#101;&#32;&#50;&#50;&comma;&#32;&#52;&#52;&#53;&#55;&#53;&#32;&#67;&#97;&#115;&#116;&#114;&#111;&#112;&#45;&#82;&#97;&#117;&#120;&#101;&#108;</address><br>
  eMail: <address>&#x63;&#x6F;&#x6E;&#x74;&#x61;&#x63;&#x74;&#x40;&#x72;&#x65;&#x6B;&#x69;&#x2E;&#x77;&#x74;&#x66;</address>
</p>

<h3 class="mt-4">Contact</h3>

<form name="Contact" method="POST" action="/thanks-for-the-message/" id="contactform" class="form-horizontal" data-netlify="true" netlify-honeypot="captcha">
  <fieldset id="contact">
    <div>
      <label for="name">Name*</label>
      <input type="text" name="name" id="name" placeholder="Name" aria-required="true" required="true" />
      <label for="email">Email*</span></label>
      <input type="email" name="email" id="email" placeholder="name@domain.tld" aria-required="true" required="true" />
      <label for="url">Website</label>
      <input type="URL" name="url" id="url" placeholder="https://domain.tld" />
    </div>
    <div>
      <label for="message">Message*</label>
      <textarea name="message" id="message" placeholder="Leave a message." aria-required="true" required="true"></textarea>
    </div>
    <div class="row mx-2">
      <input type="checkbox" name="accept-policy" id="accept-policy" aria-required="true" required="true" class="col-auto mt-2">
      <label for="accept-policy" class="col">
        I consent to my data associated with this message to be processed by Netlify, to stored and forwarded to the owner of this site.
      </label>
    </div>
    <div class="d-none">
      <input name="lang" type="hidden" value="{{ page.lang }}">
      <label for="captcha">Captcha*</label>
      <input name="captcha" type="text" tabindex="-1">
    </div>
    <div class="d-grid gap-2">
      <button type="sumbit" id="messagebutton" class="btn btn-primary">Submit</button>
    </div>
  </fieldset>
</form>

<style>
@media print {
  .print-text-center {
    text: center !important
  }

  .h1 {
    font-size: 32pt !important
  }

  main {
    font-size: 12pt !important
  }

  .icons.shields {
    justify-content: center !important
  }

  #preferred-technologies--tools,
  #work-experience {
    margin-top: 5mm
  }
    
  [about]::after {
    clear: both;
    display: block;
    height: 1px;
    width: 100%;
    content: '&nbsp;';
    overflow: hidden
  }

  
  ul {
    margin-left: 8mm
  }

  #hobbies::before {
    display: block;
    content: '&nbsp;';
    height: 8mm;
    width: 100%
  }
}

</style>
