---
layout: 2021/base
published: private
sitemap: false
robots: noindex
title: Redirects
token: 172025
---
<ul>
{% assign pages = site.pages | sort: 'date' %}
{% capture now %}{{ 'now' | date: '%s' | plus: 10800 }}{% endcapture %}
{% for p in pages %}
{% capture p_time %}{{ p.date | date: '%s' }}{% endcapture %}
{% if p_time > now or p.published == "private" %}
<li>Date to be published: {{ p.date }}<br>
    {% assign s = p.shortlink %}
    {% for i in site.shorturl %}
      {% assign s = s | replace: i.prefix, i.url %}
    {% endfor %}
    {% if p.type == "chapter" %}
      {{ p.book.series }}: {{ p.book.number }}-{{ p.chapter }}: {{ p.title }}<br>
      {% if p.chapter %}
        {% capture url %}{{ s }}?p={{ site.token.max | divided_by: p.chapter | modulo: site.token.mod | plus: site.token.plus }}{% endcapture %}
      {% endif %}
    {% else %}
      {{ p.title }}<br>
      {% capture url%}{{ s }}?p={{ p.token }}{% endcapture %}
    {% endif %}
      <a href="{{ url }}">{{ url }}</a> --> {{ p.url | absolute_url }}</li>
{% endif %}
{% endfor %}
</ul>
